@font-face {
    font-family: 'klinic-slab-bold';
    src: url('fonts/KlinicSlabBold.otf');
}

@font-face {
    font-family: 'klinic-slab-it';
    src: url('fonts/KlinicSlabBookIt.otf');
}


@font-face {
    font-family: 'klinic-slab';
    src: url('fonts/KlinicSlabBook.otf');
}

@font-face {
    font-family: 'klinic-slab-medium';
    src: url('fonts/KlinicSlabMedium.otf');
}

@font-face {
    font-family: 'klinic-slab-light';
    src: url('fonts/KlinicSlabLight.otf');
}

@font-face {
    font-family: 'klinic-slab-light-it';
    src: url('fonts/KlinicSlabLightIt.otf');
}

body {
    font-family: 'klinic-slab';
    background-color: #efefef75;
    color: #444;
}

b {
    font-family: 'klinic-slab-medium';
}

i {
    font-family: 'klinic-slab-it';
}

a {
    color: steelblue;
}

.text-light a {
    color: skyblue;
}

.img-max {
    max-width: 200px;
    width:100%;
}

.light {
    color: #888;
    font-family: 'klinic-slab-light';
}

.light > i, i > .light {
    font-family: 'klinic-slab-light-it';
}

h1 > small {
    font-size: .475em;
}

.fp-tooltip{
    color: #444 !important;
    line-height: 1.1;
    background-color: rgb(247, 247, 247);
    box-shadow: 
        0 0 15px rgb(247, 247, 247), 
        0 0 10px rgb(247, 247, 247),
        0 0 5px rgb(247, 247, 247),
        0 0 2px rgb(247, 247, 247);
    padding: .20em !important;
    margin-top: -0.1em;
}

.fp-bottom {
    text-align: center;
}

.section {
    background-size: cover;
}

.bg-sunset {
    background-image: url('images/collins_sunset.jpeg');
}

.fp-watermark a {
    background: none;
    color: #ffffff75 !important;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

.fixed {
    position: fixed;
}