@font-face {
    font-family: 'klinic-slab-bold';
    src: url('fonts/KlinicSlabBold.otf');
}

@font-face {
    font-family: 'klinic-slab-it';
    src: url('fonts/KlinicSlabBookIt.otf');
}


@font-face {
    font-family: 'klinic-slab';
    src: url('fonts/KlinicSlabBook.otf');
}

@font-face {
    font-family: 'klinic-slab-medium';
    src: url('fonts/KlinicSlabMedium.otf');
}

@font-face {
    font-family: 'klinic-slab-light';
    src: url('fonts/KlinicSlabLight.otf');
}

@font-face {
    font-family: 'klinic-slab-light-it';
    src: url('fonts/KlinicSlabLightIt.otf');
}

body {
    font-family: 'klinic-slab';
    background-color: #efefef;
    color: #444;
}

b {
    font-family: 'klinic-slab-medium';
}

i {
    font-family: 'klinic-slab-it';
}

a {
    color: steelblue;
}

.img-max {
    max-width: 200px;
    width:100%;
}

.light {
    color: #888;
    font-family: 'klinic-slab-light';
}

.light > i, i > .light {
    font-family: 'klinic-slab-light-it';
}